<h1>Welcome to the Hotels App!</h1>
<h2>****This is the home page***** </h2> 


<% if user_signed_in? %>
  <h2>What would you like to do?</h2>
  <ul>
    <li><%= link_to "View Profile", user_path(current_user) %> </li>
    <li><%= link_to "View All Reservations (admin)", reservations_path %></li>
    <li><%= link_to "Make a new reservation", new_reservation_path %></li>
    <h2>Need to make this next part for admin only</h2>
    <li><%= link_to "Create a hotel", new_hotel_path %></li>
    <li><%= link_to "View Hotels", hotels_path %></li>
  </ul>
<% else %>
  <h2>Please login to gain access to all of our amazing hotel deals!</h2>
<% end %>