<h1>All Reservations:</h1>
<h2>Click a title to sort by</h2>
<table id="all-res-table">
  <thead>
  <tr>
    <th><h2><%= sortable "check_in", "Check In Date" %></h2></th>
    <th><h2>&nbsp&nbsp&nbsp<%= sortable "hotel_id", "Hotel" %></h2></th>
    <th><h2><%= sortable "user_id", "Guest" %></h2></th>
  </tr>
  </thead>
  <tbody class="border-bottom">
  <tr>
    <% @reservations.each do |reservation| %>
    <td><br><p class="hotel-text"><%= reservation.try(:check_in).try(:strftime, "%A, %B %d, %Y") %></p></td>
    <td><br><p class="hotel-text">&nbsp&nbsp&nbsp&nbsp&nbsp<%= Hotel.find_by_id(reservation.hotel).name %></p></td>
    <td><br><p class="hotel-text">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= User.find_by_id(reservation.user_id).email %></p></td>
    <td><br>&nbsp&nbsp<%= link_to "View Reservation", user_reservation_path(reservation.user, reservation), class:"crud-opt" %><td>
    <td><br>&nbsp&nbsp<%= link_to "View Guest Profile", user_path(User.find_by_id(reservation.user_id)), class:"crud-opt" %><td>
    <td><br>&nbsp&nbsp<%= link_to "Edit Reservation", edit_user_reservation_path(reservation.user, reservation), class:"crud-opt" %><td>
    <td><br>&nbsp&nbsp<%= link_to "Delete Reservation", user_reservation_path(reservation.user, reservation), method: :delete, class:"crud-opt", data: { confirm: 'Are you sure you want to delete this reservation?' } %><td>
  </tr>
  <% end %>
  </tbody>
</table>
<br>

<div class="loadMore">Load more</div>

<script type="text/javascript">
  $(document).ready(function() {
  size_td = $("#all-res-table td").size();
  x=21;
  $('#all-res-table td:lt('+x+')').show();
  $('.loadMore').click(function() {
    x = (x+22 <= size_td) ? x+22 : size_td;
    $('#all-res-table td:lt('+x+')').show();
  });
});
</script>

