<h1>Edit Reservation</h1>

<%= form_for [@reservation.user, @reservation], method: :put do |f| %>

  <%= f.label "Select Hotel" %>
  <%= select_tag [:hotel_id], options_from_collection_for_select(Hotel.all, :id, :name, @reservation.hotel_id) %><br><br>

  <%= f.label "Check in date" %>
  <%= f.date_field :check_in %><br><br>

  <%= f.label "Number of nights" %>
  <%= f.number_field :num_nights %><br><br>

  <%= f.label "Number of guests" %>
  <%= f.number_field :num_guests %><br><br>

  <%= f.submit "Update Reservation" %> 

<% end %>
