<h1>All Reservations:</h1>
----------------------------------------------------------------------------------------------
<% @reservations.each do |reservation| %>
  <h2> <%= reservation.check_in.strftime("%A, %B %d, %Y") %> -- <%= Hotel.find_by_id(reservation.hotel_id).name %> </h2> 
  <h2>Guest: <%= User.find_by_id(reservation.user_id).email %></h2>
  <h3> <%= link_to "View Reservation", reservation_path(reservation) %> | <%= link_to "Edit Reservation", edit_reservation_path(reservation) %> | <%= link_to "Delete Reservation", reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure you want to delete this reservation?' } %></h3>
  ----------------------------------------------------------------------------------------------
<% end %>
