<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<%= form_for [@user, @reservation] do |f| %> <!-- ******** do I need the @reservation???? ********* -->

  <%= f.label "Select Hotel" %>
  <%= select_tag :hotel_id, options_from_collection_for_select(Hotel.all, :id, :name) %><br><br>

  <%= f.label "Check in date" %>
  <%= f.date_field :check_in %><br><br>

  <%= f.label "Number of nights" %>
  <%= f.number_field :num_nights %><br><br>

  <%= f.label "Number of guests" %>
  <%= f.number_field :num_guests %><br><br>

  <%= f.submit "Create Reservation" %> 

<% end %>
