<h1>Reservation:</h1>

<h2>Guest: <%= User.find_by_id(@reservation.user_id).email %></h2>
<h2>Hotel: <%= Hotel.find_by_id(@reservation.hotel_id).name %></h2>
<h3>Check In Date: <%= @reservation.try(:check_in).try(:strftime, "%A, %B %d, %Y") %></h3>
<h3>Price per night: $<%= Hotel.find_by_id(@reservation.hotel_id).cost %></h3>
<h3>Number of nights: <%= @reservation.num_nights %></h3>
<h3>Number of guests: <%= @reservation.num_guests %></h3>

<h3>Total Cost: $<%= @reservation.num_nights * Hotel.find_by_id(@reservation.hotel_id).cost %></h3>

<%= link_to "Edit Reservation", edit_user_reservation_path(@user, @reservation), class:"crud-opt" %> 

<%= link_to "Delete Reservation", user_reservation_path(@reservation.user, @reservation), class:"crud-opt", method: :delete, data: { confirm: 'Are you sure you want to delete this reservation?' } %> 

<%= link_to 'View All Reservations',user_reservations_path(current_user), class:"crud-opt" %>