<h3><%= link_to "Create a new Hotel", new_hotel_path %></h3>
<% if user_signed_in? && current_user.admin? %>
  <h3><%= link_to "Make a new reservation", new_reservation_path %></h3>
<% end %>

<h1>All Hotels:</h1>
<table>
  <thead> 
    <tr>
      <th><%= sortable "name", "Hotel" %></th>
      <th>&nbsp&nbsp&nbsp&nbsp<%= sortable "cost", "Price per night" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @hotels.each do |hotel| %>
      <td><br>&nbsp&nbsp<%= hotel.name %></td>
      <td><br>&nbsp&nbsp&nbsp&nbsp&nbsp$<%= hotel.cost %> per night</td>
      <td><br>&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to "Details", hotel_path(hotel) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


