<h1>Create a new hotel</h1>


<%= form_for @hotel, html: {multipart: true} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br><br>

  <%= f.label :avatar %>
  <%= f.file_field :avatar %> <br><br>

  <%= f.label "Phone Number" %>
  <%= f.text_field :phone_number %> <br><br>

  <%= f.label :address %>
  <%= f.text_field :address %> <br><br>

  <%= f.label :cost %>
  <%= f.number_field :cost %> <br><br>

  <%= f.label "Minimum age to stay here" %>
  <%= f.number_field :min_age %><br><br>

  <%= f.label "Minimum number of nights" %>
  <%= f.number_field :min_nights %> <br><br>

  <%= f.label "Maximum number of guests" %>
  <%= f.number_field :max_guests %> <br><br>

  <%= f.submit "Create Hotel" %>

<% end %>

<div id="hotelResult">
  <h2 id="hotelName"></h2>
  <p id="hotelPhone"></p>
  <p id="hotelAddress"></p>
  <p id="hotelCost"></p>
  <p id="hotelAge"></p>
  <p id="hotelNights"></p>
  <p id="hotelGuests"></p>
</div>


<script type="text/javascript" charset="utf-8">
  $(function() { 
  $('form').submit(function(event) {
    event.preventDefault();

    var values = $(this).serialize();

    var posting = $.post('/hotels', values);

    posting.done(function(data) {
      var hotel = data["hotel"];
      $("#hotelName").text(hotel["name"]);
      $("#hotelPhone").text(hotel["phone_number"]);
      $("#hotelAddress").text(hotel["address"]);
      $("#hotelCost").text(hotel["cost"]).val();
      $("#hotelAge").text(hotel["min_age"]).val();
      $("#hotelNights").text(hotel["min_nights"]).val();
      $("#hotelGuests").text(hotel["max_guests"]).val();
    });
   });
  });

</script>





















