<div id="header">
  <div id="menu">
<ul>
  <% if user_signed_in? %>
    <li><%= link_to "Home", root_path, class:"header-text" %></li> 
    <li><%= link_to 'View Profile',user_path(current_user), class:"header-text" %></li> 
    <li><%= link_to("Sign out", destroy_user_session_path, :method => :delete, class:"header-text") %></li> 
    <p>Welcome to the Hotels App, <%= current_user.name %>!</p>
  <% else %>
    <li><%= link_to "Home", root_path, class:"header-text" %></li> 
     <li><%= link_to "Log in", new_user_session_path, class:"header-text" %></li> 
     <li><%= link_to "Sign up", new_user_registration_path, class:"header-text" %></li> 
     <p>Welcome to the Hotels App!</p>
  <% end %>
  </ul>
  </div>
</div>

